
<div class="center hero-unit">
<% if flash[:notice] %>
	<div class="alert alert-success">
		<%= flash[:notice] %>
	</div>
<% end %>



	<h1>Hacker Corral</h1>
	
	<h2>
		This is where Hacker Corral's home page will go
		<a href="http://hackercorral.com">Hacker Corral</a> home page.
	</h2>

	<%= link_to "Create Event", new_event_path, class: "btn btn-large btn-primary" %></br>
	</br>    
  <%= text_field_tag 'address', "94103", class: "form-control" %></br>
  <%= button_to_function "Submit", "codeAddress();", class: "btn btn-large btn-primary" %>	
  <div id="map"></div>
  <div id="text">     
</div>
<div class="calendar">
	<%= calendar @events do |test| %>
	<%= link_to test.event_name, test %>
	<% end %>
</div>

<head>
  <meta charset="utf-8">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
  <script>
  var geocoder;
  var map;
  var infowindow;
  var isWindowOpen = false;
	var newMarkerExists = false;
	var blueDot = "/assets/blueDot.png";
	var currentMarker;


  function initialize() {
    geocoder = new google.maps.Geocoder();
    var home = new google.maps.LatLng(37.7833, -122.4167);

    map = new google.maps.Map(document.getElementById('map'), {
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      center: home,
      zoom: 12
    });
  }

  function callback(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        createMarker(results[i]);
      }
    }
  }

  function placeMarkers() {
    
    function getLatLng (address) {
      var result = "";
      geocoder = new google.maps.Geocoder();
      
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          result = results[0].geometry.location;
          dropTheMarker(result)
        };
      });
    };

    for (wtf in gon.events) {
      var eventAddress = (gon.events[wtf].event_location)
      var latLong = getLatLng(eventAddress)
    
    }
  }

  function dropTheMarker(latLong) {
    new google.maps.Marker({
      position: latLong,
      map: map,
      title: 'Hello World!'
    });
  }
	
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
    var currentPosition = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
      var userMarker = new google.maps.Marker({
        position: currentPosition,
        map: map,
        icon: blueDot
      });
      map.setCenter(currentPosition);
    }, 
  	function() {
      handleNoGeolocation(true);
    });
  }

  function codeAddress() {
    var address = document.getElementById("address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
  
        infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 200
        });

        var contentString = "please work"
        var service = new google.maps.places.PlacesService(map);
        // service.nearbySearch(request, callback);
        service.nearbySearch(callback);
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
  placeMarkers();
  </script>
</head>

<%= link_to image_tag("hackercorral.png", alt: "Hacker Corral"), 'http://hackercorral.com/' %>







