
<div class="center hero-unit">
<% if flash[:notice] %>
	<div class="alert alert-success">
		<%= flash[:notice] %>
	</div>
<% end %>


<div class="jumbotron">
  <div class="containter">
  	<h1>Hacker Corral</h1>
  	<%= link_to "Create Event", new_event_path, class: "btn btn-primary btn-lg" %></br>
  </div>
</div>
</br>
<ul class="list-inline">
  <li><%= text_field_tag 'address', "Address, Zip, etc.", class: "form-control" %></li>
  <li><%= button_to_function "Search for nearby events", "codeAddress();", class: "btn btn-large btn-primary" %></li>
</ul>
<ul class="list-inline">
  <li><%= text_field_tag 'search', "search not working", class: "form-control" %></li>
  <li><%= submit_tag "Search Events", :name => nil, class: "btn btn-large btn-primary" %></li>
</ul>
<!-- end -->
<div id="map"></div>
<div id="text">
</div>
<div class="calendar">
	<%= calendar @events do |test| %>
	<%= link_to test.event_name, test %>
	<% end %>
</div>

<head>
  <meta charset="utf-8">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
  <script>
  var geocoder;
  var map;
  var infowindow;
  var isWindowOpen = false;
	var newMarkerExists = false;
	var blueDot = "/assets/blueDot.png";
	var currentMarker;


  function initialize() {
    geocoder = new google.maps.Geocoder();
    var home = new google.maps.LatLng(37.7833, -122.4167);

    map = new google.maps.Map(document.getElementById('map'), {
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      center: home,
      zoom: 14

    });
  }

  function callback(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        createMarker(results[i]);
      }
    }
  }

  function placeMarkers() {
    
    function getLatLng (address) {
      var result = "";
      geocoder = new google.maps.Geocoder();
      
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          result = results[0].geometry.location;
          dropTheMarker(result)
        };
      });
    };

    for (wtf in gon.events) {
      var eventAddress = (gon.events[wtf].event_location)
      var latLong = getLatLng(eventAddress)
    
    }
  }

  function dropTheMarker(latLong) {
    new google.maps.Marker({
      position: latLong,
      map: map,
      title: 'Hello World!'
    });
  }
	
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
    var currentPosition = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
      var userMarker = new google.maps.Marker({
        position: currentPosition,
        map: map,
        icon: blueDot
      });
      map.setCenter(currentPosition);
    }, 
  	function() {
      handleNoGeolocation(true);
    });
  }

  function codeAddress() {
    var address = document.getElementById("address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
  
        infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 200
        });

        var contentString = "please work"
        var service = new google.maps.places.PlacesService(map);
        // service.nearbySearch(request, callback);
        service.nearbySearch(callback);
        } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });




    var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
      '<div id="bodyContent">'+
      '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
      'sandstone rock formation in the southern part of the '+
      'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
      'south west of the nearest large town, Alice Springs; 450&#160;km '+
      '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
      'features of the Uluru - Kata Tjuta National Park. Uluru is '+
      'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
      'Aboriginal people of the area. It has many springs, waterholes, '+
      'rock caves and ancient paintings. Uluru is listed as a World '+
      'Heritage Site.</p>'+
      '<p>Attribution: Uluru, <a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
      'http://en.wikipedia.org/w/index.php?title=Uluru</a> '+
      '(last visited June 22, 2009).</p>'+
      '</div>'+
      '</div>';

    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: 'Uluru (Ayers Rock)'
    });

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
  placeMarkers();
  </script>
</head>

<%= link_to image_tag("hackercorral.png", alt: "Hacker Corral"), 'http://hackercorral.com/' %>

<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        <% if flash[:notice] %>
          <div class="alert alert-danger">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= form_tag sessions_path do %>
          <form role="form">
            <div class="col-sm-6 form-group">
              <label><%= label_tag :email %></label>
              <%= text_field_tag :email, params[:email], class: "form-control" %>
            </div>
            <div class="col-sm-6 form-group">
              <label><%= label_tag :password %></label>
              <%= password_field_tag :password, params[:password], class: "form-control" %>
            </div>
              <div class="modal-footer">
              <div class="actions">
                <%= submit_tag "Log In", class: "btn btn-primary" %>
              </div>
            </div>  
          </form>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
      <h1>Sign Up</h1>
        <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
            <div class="error_messages">
              <% @user.errors.full_messages.each do |message| %>
                <div class="alert alert-danger">
                  <%= message %>
                </div>
              <% end %>
            </div>
          <% end %>
          <form role="form">
            <div class="col-sm-6 form-group">
              <label><%= f.label :username %></label>
              <%= f.text_field :username, class: "form-control" %>
            </div>
            <div class="col-sm-6 form-group">
              <label><%= f.label :email %></label>
              <%= f.text_field :email, class: "form-control" %>
            </div>
            <div class="col-sm-6 form-group">
              <label><%= f.label :password %></label>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="col-sm-6 form-group">
              <label><%= f.label :password_confirmation %></label>
              <%= f.password_field :password_confirmation, class: "form-control" %>
              <br />
            </div>
            <div class="actions"><%= f.submit "Sign Up", class: "btn btn-primary" %></div>
          </form>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




