<div class="container">testing if events index.html.erb is working</div>
<br />
<div class="container">
	<% @events.each do |test| %>
		<%= test.event_name %><br />
		<%= test.event_location %><br />
		<%= test.event_details %><br />
		<%= test.user_id %></br />
		<%= test.start_time %><br />
	<% end %>
	<%= current_user.email %>
</div>

