<div class="container">
	<% @events.each do |test| %>
		<%= test.event_name %><br />
		<%= test.event_location %><br />
		<%= test.event_details %><br />
		<%= test.user_id %><br />
		<%= test.start_time %><br />
	<% end %>
</div>

