<% if current_user %>
	<%= form_for @event do |f| %>
		<form role="form">
				<%= f.hidden_field :user_id, value: current_user.id %>
			<div class="form-group">
				<label><%= f.label :event_name %></label>
				<%= f.text_field :event_name, class: "form-control" %>
			</div>
			</p>
			<p>
				<div class="form-group">
				<%= f.label :event_location %>
				<%= f.text_field :event_location, class: "form-control" %>
				</div>
			</p>
			<p>
				<div class="form-group">
				<%= f.label :event_details %>
				<%= f.text_area :event_details, { class: "form-control", rows: "4" }%>
				</div>
			</p>
			
			<%= f.date_select :start_time %>

			<p>
				<div class="actions"><%= f.submit "Create Event", class: "btn btn-primary" %>
			</p>
		</form>
	<% end %>
<% else %>
	<div class="alert alert-danger">
	please sign in or create an account before creating an event
	</div>
<% end %>


<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        <% if flash[:notice] %>
          <div class="alert alert-danger">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= form_tag sessions_path do %>
          <form role="form">
            <div class="col-sm-6 form-group">
              <label><%= label_tag :email %></label>
              <%= text_field_tag :email, params[:email], class: "form-control" %>
            </div>
            <div class="col-sm-6 form-group">
              <label><%= label_tag :password %></label>
              <%= password_field_tag :password, params[:password], class: "form-control" %>
            </div>
              <div class="modal-footer">
              <div class="actions">
                <%= submit_tag "Log In", class: "btn btn-primary" %>
              </div>
            </div>  
          </form>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
      <h1>Sign Up</h1>
        <%= form_for @user do |f| %>
          <% if @user.errors.any? %>
            <div class="error_messages">
              <% @user.errors.full_messages.each do |message| %>
                <div class="alert alert-danger">
                  <%= message %>
                </div>
              <% end %>
            </div>
          <% end %>
          <form role="form">
            <div class="col-sm-6 form-group">
              <label><%= f.label :username %></label>
              <%= f.text_field :username, class: "form-control" %>
            </div>
            <div class="col-sm-6 form-group">
              <label><%= f.label :email %></label>
              <%= f.text_field :email, class: "form-control" %>
            </div>
            <div class="col-sm-6 form-group">
              <label><%= f.label :password %></label>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="col-sm-6 form-group">
              <label><%= f.label :password_confirmation %></label>
              <%= f.password_field :password_confirmation, class: "form-control" %>
              <br />
            </div>
            <div class="actions"><%= f.submit "Sign Up", class: "btn btn-primary" %></div>
          </form>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
